.container {
    background-color: rgb(122, 54, 54);
    background-image: linear-gradient(rgba(129, 41, 41, 1),rgb(31, 28, 28));
    padding: 36px 36px 80px 36px;
    display: flex;
}

.image > img {
    margin: auto;
    display: block;
    margin-top: 60px;
    width: 496.36px;
    height: 483px;
}

.image {
    width: 100%;
}

.label {
    width: 100%;
}

.label > h2 {
    font-size: 64px;
    text-align: center;
    color: white;
}

.label > p {
    font-size: 36px;
    text-align: center;
    color: white;
}